
  <header class="header" role="banner">


    {% assign current = page.url | downcase | split: '/' %}


    <div class="header-menu">
      <nav class="nav">
        <ul>
          <li><a href="{{ "/" | relative_url }}" {% if current.size==0 %}class='active' {% endif %}>home</a></li>
          <li><a href="{{site.baseurl}}/reflections" {% if current[1]=='reflections' %}class='active' {% endif %}>journal</a></li>
          <li><a href="{{site.baseurl}}/aeroponics" {% if current[1]=='aeroponics' %}class='active' {% endif %}>aeroponics</a></li>
          <li><a href="{{site.baseurl}}/workshops" {% if current[1]=='workshops' %}class='active' {% endif %}>workshops</a></li>
          <li><a href="{{site.baseurl}}/master-project" {% if current[1]=='master-project' %}class='active' {% endif %}>master project</a></li>
          <li><a href="{{site.baseurl}}/about" {% if current[1]=='about' %}class='active' {% endif %}>about me</a></li>

        </ul>
      </nav>

    </div>
  </header>
