.container {
  // get some extra space on the sides on mobile
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


 @include mq($large-screen) {
  .container {
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
  }
}

  .container-large {
    max-width: $container-large;
    margin-left: auto;
    margin-right: auto;

  }

  .container-small {
    max-width: $container-small;
    margin-left: auto;
    margin-right: auto;



  }

  photo-grid-container {
  background-color: #f4f7f5;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;

}

.photo-grid {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column-reverse;



}

.photo-grid-item {
  width: 700px;
  height: 300px;
}

 .box {
  width: 100%;
  height: 300px;
  background-color: white;
  border: 0.5px solid black;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margins: 0 0px 3% 25%;
}


.grid .box:nth-of-type(2) {
  background-color: light grey;
  grid-column: span 4;
}
