---
layout: default
---

<div class="container-small">

  <div class="content">
    {{ content }}
  </div>


  <!-- {% assign reflections = site.reflections | where: "published", true | sort: "date", "last" %} -->


<!--  <div class="post-list">
<!--    {% for reflection in site.reflections %}
    <article>
      <h2 class="post-title"><a href="{{ reflection.url | relative_url }}">{{ reflection.title }}</a></h2>
      <div class="post-period">{{ reflection.period }}</div>
    </article>
    {% endfor %}
  </div>
-->


<div class='photo-grid-container'>

<!-- <div><a href="{{site.baseurl}}/fabacademy" {% if current[1]=='fabacademy' %}class='active' {% endif %}>fab</a></div> --->


<div class='photo-grid'>
  {% for reflection in site.reflections %}
  <div class='photo-grid-item'>
    <a href="{{ reflection.url | relative_url }}">
      <img src='{{site.baseurl}}/{{reflection.img}}'/>
    </a>
  </div>
  {% endfor %}
</div>
</div>


</div>
